:root {
    --color-cornflower: #95D8EB;
    --color-maximum-blue: #4DB4D7;
    --color-ocean-boat-blue: #0076BE;
    --color-ocean-green: #48BF91;
    --color-middle-blue-green: #8BD9C7;
}
*{
    padding: 0px;
    margin: 0px;
}
p{
    font-size: 20pt;
}
.line{
    height: 2px;
    width: 100%;
    background-color: rgb(224, 224, 224);
}
li{
    list-style: none;
}
.liNavbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.btnSimples{
    width: 198px;
    height: 40px;
    background-color: var(--color-ocean-green);
    color: white;
    border: none;
    border-radius: 20px;
}
.btnSemFundo{
    width: 75px;
    height: 40px;
    background-color: white;
    color: var(--color-ocean-green);
    border: 1px,solid,var(--color-ocean-green);
    border-radius: 20px;
}
.sectionHeaderDesc {
    font-size: 16pt;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--color-maximum-blue),var(--color-ocean-green));
}

.txtChamativo{
    font-size: 46pt;
    font-weight: 600;

}
.sectionHero{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px;
    width: 100%;
    background-color: white;
    
}
.vendasSection{
    width: 100%;
}   
.vendasSection>div>h1{
    font-size: 60pt;
    font-weight: 700;
}
.vendasSection>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divCarroseu{
    background-color: white;
    border: 1px solid,rgb(223, 223, 223);
    padding: 40px;
}
