/* Estilo para o card de comentário */
.review-card {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para o cabeçalho do comentário */
.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.rating {
    display: flex;
    align-items: center;
}

.stars {
    font-size: 16px;
    color: #f39c12;
    /* cor para as estrelas */
}

.timestamp {
    font-size: 14px;
    color: #666;
    margin-left: 8px;
}

/* Estilo para o conteúdo do comentário */
.review-content {
    margin-bottom: 8px;
}

.comment {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Estilo para os botões de ação */
.review-actions {
    display: flex;
}

.report-btn,
.helpful-btn,
.not-helpful-btn {
    background-color: #3498db;
    /* cor de fundo dos botões */
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.report-btn:hover,
.helpful-btn:hover,
.not-helpful-btn:hover {
    background-color: #2980b9;
    /* cor de fundo ao passar o mouse */
}


.conteudoCursoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(196, 196, 196);
    margin-left: 5%;
    margin-top: 20px;
    width: 60%;
    min-width: 300px;
}
.comentarioCursoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    width: 60%;
    margin-top: 20px;
    min-width: 300px;
}

.articleHero>section>div>h5{
    color: #a8a8a8;
}

.li>ul>li{list-style: initial !important;}
.desc{
    font-size: smaller;
}


@media only screen and (max-width: 1000px) {
    .itemImg {
        position: unset !important;
        padding: .5rem !important;
    }
    .articleHero{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }
    .sectionDark{
        padding: .1rem;
    }
    .articleHero:first-child div{
        padding: .1rem !important;
    }
    .articleHero>section>div>h5{
        max-width: 100vw !important;
        color: #a8a8a8;
        font-size: medium;
    }
}

@media only screen and (min-width: 767.98px) {
   
}